{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Category Management</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item"><a href="#">Category</a></li>
                        <li class="breadcrumb-item active">Category Management</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->   
       
        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                        <div class="col-12 mt-3">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">
                                Add Category
                            </button>
                        </div>
            
                    <!-- <div class="card-header  justify-content-between align-items-center">                               
                        <h4 class="card-title">Category Management</h4> 
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display table dataTable table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created At</th>
                                        <th>Updated At</th>                                       
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.created_at }}</td>
                                        <td>{{ category.updated_at }}</td>
                                        <td>
                                            <a href="{% url 'update_category' category.id %}" class="btn btn-link text-primary" title="Update">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <form action="{% url 'delete_category' category.id %}" method="post" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-link text-danger" title="Delete">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                            <a href="{% url 'category_detail' category_id=category.id %}" class="btn btn-link text-info" title="View Category">
                                                <i class="fas fa-eye"></i>
                                            </a>                                            
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->

        <!-- START: Add Category Popup -->
        <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'add_category' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Add Category Popup -->
    </div>
</main>
{% endblock %}
