<div class="row">
    {% for category in categories %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <p class="card-text">Total Stock: 
                        {% for subcategory_total in subcategory_totals %}
                            {% if subcategory_total.subcategory.category == category %}
                                {{ subcategory_total.total_stock }}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>