{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="productStatisticsChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById('productStatisticsChart').getContext('2d');

        var totalProducts = {{ total_products }};
        var totalPriceSum = {{ total_price_sum }};
        var averagePrice = {{ average_price }};

        var data = {
            labels: ['Total Products', 'Total Price Sum', 'Average Price'],
            datasets: [{
                data: [totalProducts, totalPriceSum, averagePrice],
                backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 205, 86, 1)'],
                borderWidth: 1,
            }]
        };

        var options = {
            responsive: true,
        };

        var chart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options,
        });
    });
</script>
{% endblock %}
